body
{
	background-color: #f6f5f5;
	margin: 0px;
	padding: 0px;
}

ul{
	list-style: none;
}
a{
	text-decoration: none;
}
section{
	width: 100%;
	height: 95vh;
	
	background-repeat: no-repeat;
	background-size: cover;
}

nav{
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 60px;
	background-color: #FFFFFF;
	box-shadow: 2px 2px 12px rgba(0,0,0,0.2);
	padding: 0px 5%;
}

nav ul{
	display: flex;
}

nav ul li a{
	margin: 30px;
	font-family: myriad pro bold;
	color: #505050;
	font-size: 15px;
	font-weight: 700;
}

.logo{
	font-family: Black Ryder Demo;
	color: #000000;
	font-size: 46px;
}

.active{
	font-weight: bold;
	color: #2d2a2a;
}

.text-container p{
	font-family: calibri;
	font-weight: bold;
	color: #212120;
	font-size: 45px;
	margin-left: 150px;
	margin-top: 150px;
}

img{
	float: right;
	width: 350px;
	height: 350px;
	margin-right: 220px;
	margin-top: -290px;

}

.about{
	width: 100%;
	height: 380px;
	background-color: #212120;
}

.about p:nth-child(1){
	color: white;
	font-size: 250%;
	font-family: calibri;
	font-weight: bold;
	margin-left: 150px;
}

.about p:nth-child(2){
	color: white;
	font-size: 115%;
	text-align: justify;
	font-family: calibri;
	font-weight: bold;
	margin-left: 150px;
	margin-right: 200px;
}

.skills{
	width: 100%;
	height: 330px;
	margin-top: 10px;
	background-color: white;
}

.skills p:nth-child(1){
	color: #212120;
	font-size: 300%;
	font-family: calibri;
	font-weight: bold;
	margin-left: 1200px;
	margin-top: -20px;
}

.skills p:nth-child(2){
	color: #212120;
	font-size: 200%;
	text-align: justify;
	font-family: calibri;
	font-weight: bold;
	margin-left: 150px;
	margin-right: 220px;
}

.experience{
	width: 100%;
	height: 550px;
	background-color: #212120;
}

.experience p:nth-child(1){
	color: white;
	font-size: 250%;
	font-family: calibri;
	font-weight: bold;
	margin-left: 150px;
}

.experience p:nth-child(2){
	color: white;
	font-size: 160%;
	text-align: justify;
	font-family: calibri;
	font-weight: bold;
	margin-left: 150px;
	margin-right: 200px;
}


.footer{
	width: 100%;
	height: 80px;
	margin-top: 10px;
	background-color: white;
}

.footer p:nth-child(1){
	color: #212120;
	font-size: 150%;
	font-family: calibri;
	font-weight: bold;
	margin-left: 650px;
	margin-top: -20px;
}